var <%= @klass_name %> = (function () {

  function <%= @klass_name %> (name) {
    this.name = name;
  }
  
  <%= @klass_name %>.prototype = {
    title: function () {
      return 'Mr. ' + this.name;
    }
  }
  
  return <%= @klass_name %>;
})();